@import "src/scss/variables.scss";

:host {
    position: relative;
    display: block;
    height: 100%;
    user-select: none;
}

// Menu list style
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 17px;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);
    100% { transform: scale(1); }
    }
}

// Menu item
li {
    display: flex;
    align-items: center;
    position: relative;
    font-family: $font;
    color: var(--cl-header-txt);
    font-size: 18px;
    padding: 15px 15px;
    background-color: var(--cl-sidebar-bg);
    cursor: pointer;
    transition: background-color $animSpeed linear;
    white-space: nowrap;
    padding-left: 40px;
    border-radius: 0 40px 40px 0;
    &:hover {
        background-color: var(--cl-hover);

    }

    // Icon
    & > i {
        margin-right: 15px;
        min-width: 18px;
    }

    // Image icon
    & > img {
        padding: 4px;
        // background-color: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        height: 28px;
        min-width: 28px;
        margin-right: 10px;
        filter: var(--menu-item-icon-filter);
    }

    &:hover > img {
        animation: pulse $animSpeed;
        animation-timing-function: linear;
    }

    &:after {
        display: block;
        content: " ";
        position: absolute;
        bottom: 0;
        height: 1px;
        // background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--cl-header-txt) 50%, rgba(255, 255, 255, 0) 100%);
        //background-color: var(--cl-header-txt);
        left: 10px;
        right: 10px;
        opacity: 0.2;
    }
}

// Version label
.version {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: $font;
    font-size: 9px;
    padding: 6px;
}

// Loading spinner
.spinner {
    margin-left: 86px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: var(--cl-header-border);
}
