<ul>
  <!-- Goto DSZ -->
  @if (!isHome) {
    <li (click)="gotoZenDeepSee()" class="only-sm">
      <img src="assets/img/icons/icon-navigate.svg">
      {{ 'gotoDeepSee' | i18n }}
    </li>
  }

  <!-- Share dashboard -->
  <!--<li *ngIf="!isHome" (click)="shareDashboard()" class="only-sm">
  <img src="assets/img/icons/share-black-18dp.svg">
  {{'shareDashboard' | i18n}}
</li>-->

  <div class="divider only-sm"></div>

  @if (isHome) {
    <li (click)="editDashboard()">
      <img src="assets/img/icons/icon-edit.svg">
      Edit dashboard
    </li>
  }
  <li (click)="showSettingsMenu()">
    <img src="assets/img/icons/icon-settings.svg">
    Settings
  </li>
  <li (click)="showNamespaceSelector()">
    <img src="assets/img/icons/icon-namespace.svg">
    Namespace
  </li>
  <li (click)="showLanguageSelector()" class="only-sm">
    <img src="assets/img/icons/language-24px.svg">
    Language
  </li>
  <li (click)="showAboutDialog()">
    <img src="assets/img/icons/icon-info.svg">
    About
  </li>
  <li (click)="logout()" class="only-sm">
    <img src="assets/img/icons/icon-logout.svg">
    Logout
  </li>
</ul>
<span class="version">v.{{ version }}</span>
