.w16 {
    width: 16px;
}
.ver {
    position: absolute;
    right: 2px;
    top: 0px;
    font-size: 8px;
}
.err-msg {
    text-align: center;
    padding-top: 16px;
    font-size: large;
}

.logo {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}

.login-frm {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.dash-item {
    position: relative;
    float: left;
    font-size: 10px;
    font-family: arial;

    width: 134px;
    height: 190px;
    margin: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: border 0.3s;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
}
.dash-item:hover {
    border-color: rgb(125, 162, 229);
}

.dash-item-header {
    height: 24px;
    padding-top: 4px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dash-item h4 {
    text-align: center;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}
.dash-item-content {
    background-repeat: round;
    height: 100%;
}
.dash-item-icon {
    position: absolute;
    bottom: 24px;
    font-size: 40px; !important;
    text-align: center;
    width: 100%;
    margin-left: -15px;
}

.widget {
    height: 100%;
}

.widget-title {
    height: 16px;
    padding: 0px;
    font-family: arial;
    font-size: 8pt;
    text-align: center;
    color: #F0F0F0;
    z-index: 10;
    overflow: hidden;
    white-space: nowrap;
    cursor: move;
    text-overflow: ellipsis;
}

.navbar {
    margin-bottom: 4px; !important;
}

.widget-holder {
    overflow: hidden;
}

.widget-toolbar {
    background-color: #F0F0F0;
    padding: 2px 2px 3px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.widget-content {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.widget-error {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #FAA;
    font-size: 12px;
    font-family: arial;
    /*font-weight: bold;*/
    top: 50%;
    padding: 4px;
    /* border: 10px solid rgb(248, 248, 248); */
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.35);
}

.gridster {
    overflow-x: hidden;
}

.gridster-preview-holder {
    opacity: 1;
    border: 1px dashed #AAAAAA;
    background-color: #fff;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gmail-notify {
    position:fixed;
    left:50%;
    top:0px;
    z-index: 9999;
    max-width:400px;
    text-align: center;
    color: black;
    border:1px solid rgb(240, 195, 109);
    background-color: rgb(249, 190, 190);
    font-size: 13px;
    font-weight: bold;
    padding:2px 8px 2px 8px;
    -webkit-transition: top 0.5s ease-out,opacity 0.5s ease-out;
    -moz-transition: top 0.5s ease-out,opacity 0.5s ease-out;
    -o-transition: top 0.5s ease-out,opacity 0.5s ease-out;
    transition: top 0.5s ease-out,opacity 0.5s ease-out;
    visibility: hidden;
}

.table-small {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.table-small>tbody>tr>td, .table-small>tbody>tr>th, .table-small>tfoot>tr>td, .table-small>tfoot>tr>th, .table-small>thead>tr>td, .table-small>thead>tr>th {
    padding: 1px;
}

.flt-holder {
    /*width: 120px;*/
    margin-top: -6px;
    padding-left: 2px;
}
.flt-holder > label{
    margin: 0px;
    font-size: xx-small;
    font-family: verdana, arial;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: -2px;
}
.flt-holder > div > input {
    height: 20px;
    margin-top: -4px;
    padding: 1px;
}
.flt-holder > div > span > button {
    height: 20px;
    width: 20px;
    margin-top: -4px;
    padding: 0px;
}

.filter-window {
    border: 1px solid #AAAAAA;
    background-color: #FFF;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(50, 50, 50, 0.21);
    -moz-box-shadow:    4px 4px 4px 0px rgba(50, 50, 50, 0.21);
    box-shadow:         4px 4px 4px 0px rgba(50, 50, 50, 0.21);
}

/* ngDialog fixes */
.ngdialog.ngdialog-theme-plain {
    padding-bottom: 0px;
    padding-top: 0px;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content {
    padding: 0px;
    line-height: 1em;
    width: 340px;
}
.ngdialog-overlay {
    animation: none;
    -webkit-animation: none;
    background: rgba(0,0,0,.1);
}
.ngdialog-content {
    animation: none;
    -webkit-animation: none;
}
.ngdialog.ngdialog-closing .ngdialog-overlay{
    animation: none;
    -webkit-animation: none;
}
.ngdialog.ngdialog-closing .ngdialog-content {
    -webkit-animation: ngdialog-fadeout 0.0s;
    animation: ngdialog-fadeout 0.0s;
}

.flt-modal {
    width: 340px;
    border: 1px solid #E8CECE;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.21);
    z-index: 1111;
}
.flt-toolbar {
    background-color: #F0F0F0;
    padding: 2px 2px 3px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    width: 100%;
}

.bold {
    font-weight: bold;
}
.position-fixed {
    position: fixed;
}
.dropdown {
    z-index: 1000;
    cursor: pointer;
}
/*
.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
*/
/*
.panel {
    margin-bottom: 0px;
}
.panel-heading {
    padding: 2px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    height: 46px;
}
.panel-footer {
    padding: 0px;
}
.panel-body {
    padding: 0px;
    overflow: hidden;
}
.panel-title {
    white-space: nowrap;
    margin-top: 4px;
    margin-left: 0px;
}
*/

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
.navbar .btn {
    outline: none;
}

.text-widget {
    display: block;
    width: 100%;
    height: 100%;
    font-family: monospace;
    position: relative;
    padding-top: 20px;
    -webkit-user-select: initial;
    user-select: initial;
}

.text-widget-label {
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    width: 100%;
    text-align: center;
    font-family: monospace;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.empty-widget {
    padding-left: 2px;
    padding-right: 4px;
}

.empty-widget > .flt-holder {
    margin-top: 0px;
}

.widget-title-btn {
    float: right;
    width: 15px;
    height: 15px;
    padding-top: 1px;
    /*border: 1px solid #AAAAAA;
    border-radius: 2px;*/
    border-left: 1px solid #DDD;
    cursor: pointer;
}
.widget-title-btn:hover {
    background-color:  #FFA;
}


.widget-title-btn-left {
    padding-left: 2px;
    padding-right: 4px;
    float: left;
    height: 15px;
    border-right: 1px solid #DDDDDD;
    cursor: pointer;
}

.widget-title-btn-left:hover {
    background-color:  #FFA;
}

.widget-title-btn.active {
    background-color: #06FF00;
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.29);
    box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.29);
}

.widget-title-btn.notActive {
    color: #AAAAAA;
}

.widget-title-btn.active > i {
    padding-left: 1px;
    padding-top: 2px;
}

.widget-title-drag {
    width: 100%;
    height: 100%;
    padding-right: 16px;
    font-weight: bold;
    font-size: 12px;
}

.widget-title-drag > span {
    padding-left: 8px;
}

.menu-icon {
    margin-left: -16px;
    padding-right: 2px;
}

.gridster-item-moving {
    opacity: 0.9;
}

/* pivot fix to better look in widgeet container */
.lpt-bottomSection {
    border-right: none;
}
.lpt-topSection {
    border-right: none;
}
.lpt td:last-child {
    border-right: none;
}

/* bootstrap submenu */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}



body::-webkit-scrollbar {
    width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #AAAAAA;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
body::-webkit-scrollbar-thumb:window-inactive {
    background: #AAAAAA;
}


body::-webkit-scrollbar {
    display: none;
}



/*/////////////////// LOADER ////////////////////////*/
.loader-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.6);
}

.loader:before,
.loader:after,
.loader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    margin: 0em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
    z-index: 1000;
}
.loader:before {
    left: -3.5em;
}
.loader:after {
    left: 3.5em;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #AAAAAA;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #AAAAAA;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #AAAAAA;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #AAAAAA;
    }
}
/*///////////////////////////////////////////*/


.filter-label {
    font-weight: initial;
    padding-left: 4px;
    padding-right: 10px;
}

.ngdialog-theme-default > .ngdialog-overlay {
    background: rgba(0,0,0,.4);
}
.ngdialog-theme-default > .ngdialog-content {
    -webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 9px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 9px 0px rgba(50, 50, 50, 0.5);
}


.settings-header {
    margin-top: -3px;
    text-align: center;
    padding-bottom: 10px;
}

.ngdialog.ngdialog-theme-default.wnd-settings .ngdialog-content{
    width: 640px;
}

.line-divider {
    width:100%;
    border-top: 1px solid #CCC;
    padding-bottom: 16px;
}

.float-left {
    float: left;
}

.input-xs {
    height: 22px;
}

.map-tooltip {
    padding: 4px;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 9px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 9px 0px rgba(50, 50, 50, 0.5);
    margin-bottom: -1px;
}

.arrow_box {
    position: relative;
    background: #ffffff;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(176, 176, 176, 0);
    border-top-color: #B0B0B0;
    border-width: 11px;
    margin-left: -11px;
}
.bar-summary {
    transform: scale(2, 1);
    transform-origin: center;
}

.settings-content {
    height: 200px;
    padding-bottom: 16px;
}

.settings-tab {
    cursor: pointer;
}

.settings-tabbar {
    margin-bottom: 16px;
}