<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dsw.ZPM">
    <Module>
      <Name>dsw</Name>
      <Version>2.1.43</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>MDX2JSON</Name>
          <Version>2.2.0</Version>
        </ModuleReference>
      </Dependencies>
      <SystemSetting Name="CSP.DefaultFileCharset" Value="UTF-8"/>
      <CSPApplication
        Url="/dsw"
        Path="/build"
        Directory="{$cspdir}/dsw"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/dsw"
       />
    </Module>
  </Document>
</Export>
