<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Export generator="Cache" version="25">
  <Document name="dsw.ZPM">
    <Module>
      <Name>dsw</Name>
      <Version>3.1.54</Version>
      <Packaging>module</Packaging>
      <Description>DeepSeeWeb (DSW) is an Angular UI layer for IRIS BI (DeepSee) dashboards</Description>
      <Dependencies>
        <ModuleReference>
          <Name>MDX2JSON</Name>
          <Version>3.*</Version>
        </ModuleReference>
      </Dependencies>
      <SystemSetting Name="CSP.DefaultFileCharset" Value="UTF-8"/>
      <CSPApplication Url="/dsw" SourcePath="/dist" DeployPath="{$cspdir}/dsw" ServeFiles="1" Recurse="1" CookiePath="/dsw"/>
    </Module>
  </Document>
</Export>