<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gnibeda.deepsight" version="2.0.17" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>DeepSight</name>
    <description>
        Deep See Mobile visualizer
    </description>
    <author email="anton.donnu@gmail.com">
        Gnibeda Anton
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
        
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="5" />
    <preference name="android-installLocation" value="auto" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />    
    <preference name="StatusBarStyle" value="blackopaque" />
    
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" />
   
    <icon gap:platform="ios" width="20" height="20" src="res/icon/ios/Icon-App-20x20@1x.png" />
    <icon gap:platform="ios" width="40" height="40" src="res/icon/ios/Icon-App-20x20@2x.png" />
    <icon gap:platform="ios" width="60" height="60" src="res/icon/ios/Icon-App-20x20@3x.png" />
    <icon gap:platform="ios" width="29" height="29" src="res/icon/ios/Icon-App-29x29@1x.png" />
    <icon gap:platform="ios" width="58" height="58" src="res/icon/ios/Icon-App-29x29@2x.png" />
    <icon gap:platform="ios" width="87" height="87" src="res/icon/ios/Icon-App-29x29@3x.png" />
    <icon gap:platform="ios" width="40" height="40" src="res/icon/ios/Icon-App-40x40@1x.png" />
    <icon gap:platform="ios" width="80" height="80" src="res/icon/ios/Icon-App-40x40@2x.png" />
    <icon gap:platform="ios" width="120" height="120" src="res/icon/ios/Icon-App-40x40@3x.png" />
    <icon gap:platform="ios" width="57" height="57" src="res/icon/ios/Icon-App-57x57@1x.png" />
    <icon gap:platform="ios" width="114" height="114" src="res/icon/ios/Icon-App-57x57@2x.png" />
    <icon gap:platform="ios" width="171" height="171" src="res/icon/ios/Icon-App-60x60@1x.png" />
    <icon gap:platform="ios" width="120" height="120" src="res/icon/ios/Icon-App-60x60@2x.png" />
    <icon gap:platform="ios" width="180" height="180" src="res/icon/ios/Icon-App-60x60@3x.png" />
    <icon gap:platform="ios" width="72" height="72" src="res/icon/ios/Icon-App-72x72@1x.png" />
    <icon gap:platform="ios" width="144" height="144" src="res/icon/ios/Icon-App-72x72@2x.png" />
    <icon gap:platform="ios" width="76" height="76" src="res/icon/ios/Icon-App-76x76@1x.png" />
    <icon gap:platform="ios" width="152" height="152" src="res/icon/ios/Icon-App-76x76@2x.png" />
    <icon gap:platform="ios" width="228" height="228" src="res/icon/ios/Icon-App-76x76@3x.png" />
    <icon gap:platform="ios" width="167" height="167" src="res/icon/ios/Icon-App-83.5x83.5@2x.png" />
    <icon gap:platform="ios" width="50" height="50" src="res/icon/ios/Icon-Small-50x50@1x.png" />
    <icon gap:platform="ios" width="100" height="100" src="res/icon/ios/Icon-Small-50x50@2x.png" />    


    
    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />    
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash gap:platform="blackberry" src="res/screen/blackberry/screen-225.png" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />


    
    
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-750h.png" gap:platform="ios" width="750" height="1334" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-1242h.png" gap:platform="ios" width="1242" height="2208" />

    
    <plugin name="cordova-plugin-device" version="1.1.4" />
    <plugin name="cordova-plugin-statusbar" version="2.2.1" />
    <plugin name="cordova-plugin-console" version="1.0.5" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.6.1" />
    <plugin name="com.phonegap.plugins.barcodescanner" spec="https://github.com/phonegap/phonegap-plugin-barcodescanner.git" version="6.0.3" source="git">
     <variable name="CAMERA_USAGE_DESCRIPTION" value="Scan QR codes with settings" />
    </plugin>

    <access origin="*" />
</widget>
