@import "src/scss/variables";

:host {
    display: flex;
    //flex-direction: column;
    flex-display: row;
    width: 100%;
    height: 100%;
    font-family: $font;
    -webkit-user-select: initial;
    user-select: initial;

    // No background for labels on tiles
    &.inline label{
        background-color: transparent;
        background-image: none;
    }
}

.item {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

label {
    display: block;
    flex-shrink: 0;
    height: 16px;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    width: 100%;
    text-align: center;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item2 {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #fafafa;
    padding: 10px;

    & > label {
        height: auto;
        background: transparent;
        color: gray;
        font-size: 19px;
    }
    & > svg {
        height: 50%;
        width: 100%;
        display: block;
    }
}

.text-widget{
    height: 100%;
}
