<div>
    <button class="btn square btn-side-menu" [class.active]="!!(ss.sidebarToggle | async)?.component" (click)="toggleMenu()">
        <img src="assets/img/logo.svg">
    </button>
    <h2 class="breadcrumbs">
<!--        <a routerLink="/" class="path">DeepSeeWeb</a>-->
        <div class="only-sm" *ngIf="!isSearch">{{title}}</div>
        <div [class.no-opacity]="isSearch">
            <a [routerLink]="p.url" class="path" *ngFor="let p of path$ | async; let idx = index" [class.show-only-last]="isSearch">{{p.title}}</a>
        </div>
    </h2>

    <!-- Goto DSZ -->
    <button class="btn btn-icon square s60 btn-goto only-desktop" (click)="gotoZenDeepSee()" *ngIf="!isSearch" [title]="'gotoDeepSee' | i18n">
        <img class="flip" src="assets/img/icons/reply-black-18dp.svg">
    </button>

    <!-- Share dashboard -->
    <button class="btn btn-icon square s60 only-desktop" (click)="showShareDashboard()" *ngIf="!isSearch" [title]="'shareDashboard' | i18n">
        <img src="assets/img/icons/share-black-18dp.svg">
    </button>

    <!-- Mobile filter -->
    <div class="btn btn-icon square btn-mobile-filter only-sm" (click)="toggleMobileFilter()" *ngIf="!isSearch && isMobileFilterButton">
        <img src="assets/img/icons/filter_alt-black-18dp.svg">
    </div>
</div>
<div class="search-block" [hidden]="!isSearch">
    <div [class.active]="isSearchActive">
        <input #inp [formControl]="searchField" type="search" placeholder="Search" (blur)="isSearchActive = false" (keydown.enter)="isSearchActive = false">
    </div>
    <span class="btn-search" [class.active]="isSearchActive" (click)="isSearchActive = !isSearchActive; isSearchActive ? inp.focus() : null">
        <img src="assets/img/icons/search-black-18dp.svg">
    </span>

</div>

