<div>
  <button class="btn square btn-side-menu" [class.active]="!!(ss.sidebarToggle | async)?.component" (click)="toggleMenu()">
    <img src="assets/img/icons/menu.svg">
  </button>
  <h2 class="breadcrumbs">
    <!--        <a routerLink="/" class="path">DeepSeeWeb</a>-->
    @if (!isSearch) {
      <div class="only-sm">{{title}}</div>
    }
    <div [class.no-opacity]="isSearch" class="items">
      @for (p of path$ | async; track p; let idx = $index) {
        <a
          [routerLink]="p.url"
          class="path"
          [title]="p.title"
          [class.show-only-last]="isSearch"
          (click)="hideMoreDropdown($event, p.isMoreButton)"
          >
          {{p.title}}
          @if (p.isMoreButton) {
            <span class="btn-more" [class.pressed]="isMorePressed" (click)="isMorePressed = !isMorePressed">
              ...
            </span>
          }
          @if (p.isMoreButton && isMorePressed) {
            <div class="dropdown-more">
              @for (l of p.moreList; track l) {
                <a [routerLink]="l.url" class="path" [title]="l.title">{{l.title}}</a>
              }
            </div>
          }
        </a>
      }
    </div>
  </h2>

  <!-- Goto DSZ -->
  @if (!isSearch) {
    <button class="btn btn-icon square s60 btn-goto only-desktop" (click)="gotoZenDeepSee()" [title]="'gotoDeepSee' | i18n">
      <img class="flip" src="assets/img/icons/icon-navigate.svg">
    </button>
  }

  <!-- Share dashboard -->
  @if (!isSearch) {
    <div class="btn btn-icon square s60 only-desktop btn-share" (mouseover)="showShareDashboard()" [title]="'shareDashboard' | i18n">
      <img src="assets/img/icons/icon-share.svg">
      <dsw-share-dashboard [shareUrl]="shareUrl" [isSmall]="true"></dsw-share-dashboard>
    </div>
  }

  <!-- Add widget-->
  @if (!isSearch && canEdit) {
    <button class="btn btn-icon square s60 btn-goto only-desktop" (click)="onAddClick()" [title]="'addWidget' | i18n">
      <span class="icon-plus">+</span>
      <!--<img class="flip" src="assets/img/icons/icon-copy.svg">-->
    </button>
  }

  <!-- Mobile filter -->
  @if (!isSearch && isMobileFilterButton) {
    <div class="btn btn-icon square btn-mobile-filter only-sm" (click)="toggleMobileFilter()">
      <img src="assets/img/icons/filter_alt-black-18dp.svg">
    </div>
  }
</div>
<div class="search-block">
  <!-- <span class="search" [hidden]="!isSearch">
  <div [class.active]="isSearchActive">
    <img class="img-search" src="assets/img/icons/icon-search.svg">
    <input #inp [formControl]="searchField" type="search" placeholder="Search" (blur)="isSearchActive = false" (keydown.enter)="isSearchActive = false">
  </div>
</span>-->
<dsw-search-input #inpSearch [hidden]="!isSearch" (search)="onSearch($event)"></dsw-search-input>

<!-- Language selector -->
<select #lang class="lang-selector only-desktop" [(ngModel)]="selectedLanguage" (change)="selectLanguage(lang.value)">
  @for (l of languages; track l) {
    <option [value]="l">{{l}}</option>
  }
</select>
<!-- Logout -->
<button class="btn btn-icon only-desktop" (click)="logout()" [title]="'signout' | i18n">
  <img src="assets/img/icons/icon-logout.svg">
  {{'signout' | i18n}}
</button>
</div>
