<gridster #gridster [options]="tilesOptions" class="gridster" [class.no-anim]="isResizing">
  @for (tile of data$ | async; track tile) {
    <gridster-item
      [class.selected]="model.edItem == tile"
      [class.editing]="model.edItem "
      [class]="'tile cl' + tile.color + ' ' + (tile.template ? 'tile-with-widget' : '')"
      [item]="tile"
      [style.backgroundImage]="'url(' + tile.Cover + ')'"
      (click)="onItemClicked(tile)"
      >
      <!-- Inline widget -->
      @if (itemDesc[tile.idx]) {
        <dsw-widget #widgets [widget]="itemDesc[tile.idx]" [class.transparent]="itemDesc[tile.idx].inline"></dsw-widget>
      }
      <!-- Icon -->
      @if (!itemDesc[tile.idx] && model.icons[tile.icon]; as icon) {
        <div class="tile-icon" [ngClass]="icon"></div>
      }
      <!-- Title -->
      @if (!tile.hideTitle) {
        <label [title]="tile.customTitle || tile.title">
          <span [class]="model.fontColors[tile.fontColor]">{{tile.customTitle || tile.title}}</span>
        </label>
      }
    </gridster-item>
  }
</gridster>

<img ngSrc="assets/img/spinner.svg" [hidden]="!isSpinner" height="100" width="100" priority>
