@import "./src/scss/variables";
@import "./src/scss/breakpoints";

:host {
    display: block;
    width: 100%;
    height: 100%;
}

gridster {
    background: var(--cl-bg);
}

.tile {
    border-radius: var(--tile-border-radius);
    border: var(--tile-border);
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    background-size: cover;
    background: transparent no-repeat 50% 50%;

    // Hover state
    &:hover {
        //transform: translate(0px, -2px) scale(2) !important;
        box-shadow:
            0 1px 1px hsl(0deg 0% 0% / 0.075),
            0 2px 2px hsl(0deg 0% 0% / 0.075),
            0 4px 4px hsl(0deg 0% 0% / 0.075),
            0 8px 8px hsl(0deg 0% 0% / 0.075),
            0 16px 16px hsl(0deg 0% 0% / 0.075)
    }

    // Editing state
    &.editing {
        opacity: 0.5;
    }

    // Selected state
    &.selected {
        opacity: 1;
        outline: 2px solid var(--cl-accent);
    }
    @include sm {
        border: none;
        border-bottom: var(--tile-border);
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
    }
}

.tile label {
    font-family: $font;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    outline-color: #1c5ec7;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 8px;
    top: auto;
    text-align: left;

    @include sm {
        position: static;
        font-size: 18px;
    }
}

.tile-icon {
    height: 100%;
    width: 100%;
    overflow: hidden;

    @include sm {
        width: $mobile-folder-height;
        height: $mobile-folder-height;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.tile-icon svg {
    font-family: FontAwesome;
    height: 50%;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;

    @include sm {
        height: 80%;
        width: 80%;
        margin: 0;
    }
}

dsw-widget {
    pointer-events: none;
    &.transparent {
        background-color: transparent;
    }
}

