<div
  #elements
  class="tab"
  *ngFor="let tab of tabs; trackBy:trackByIdentity"
  [class.hidden-offscreen]="tab.hidden"
  (click)="tabClick(tab)"
  [class.active]="currentTab === tab"
>
    <!--[routerLink]="'.'"
  [queryParams]="useQuery ? { tab: tab.id, edit: null } : null"
  queryParamsHandling="merge"-->
  {{tab.text}}
</div>
<div class="tab btn-more" *ngIf="isMoreButtonVisible" (click)="onOpenTabsClick($event)">
  <img src="/assets/img/more-horiz.svg">
</div>

<div *ngIf="isOpened" class="dropdown">
  <div
    *ngFor="let tab of hiddenTabs; trackBy:trackByIdentity"
    (click)="tabClick(tab)"
    [class.active]="currentTab === tab"
    [routerLink]="'./'"
    [queryParams]="useQuery ? { tab: tab.id, edit: null } : undefined"
    queryParamsHandling="merge"
  >
    {{tab.text}}
  </div>
</div>
