@import "src/scss/variables";

:host {
    position: relative;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    word-break: break-word;
    user-select: none;
    color: var(--cl-input-text);
    text-align: center;
    display: flex;
    min-width: 0;
    margin-bottom: 10px;
    width: 100%;

    // Underline
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--cl-input-border);
        position: absolute;
        bottom: 0;
    }
}

// Tab
.tab {
    outline: none;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;

    padding-left: 8px;
    padding-right: 8px;

    &:first-child {
        margin-left: -8px;
    }

    // Hidden tab
    &.hidden-offscreen {
        position: absolute;
        left: -100000px;
        top: -100000px;
        visibility: hidden;
    }

    padding-bottom: 2px;

    // Active tab underline
    &:after {
        display: none;
        position: absolute;
        content: " ";
        width: calc(100% - 16px);
        z-index: 1;
        border-radius: 4px;
    }

    // Active tab underline
    &.active:after {
        height: 4px;
        background: var(--cl-accent);
    }

    // Active tab
    &.active {
        color: var(--cl-input-text);
        // Underline
        &:after {
            display: block;
        }
    }

    // Hovered tab
    &:hover:not(.active) {
        color: var(--cl-input-text);

        &:after {
            display: block;
            background: var(--cl-input-text);
        }
    }
}

// More button "..."
.btn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;

    & > img {
        height: 7px;
        opacity: 0.4;
    }
}

.dropdown {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    z-index: 1;
    overflow: hidden;

    & > div {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 16px;
        padding-right: 16px;

        &.active {
            background-color: var(--cl-bg);
            color: var(--cl-input-text);
        }
    }
}
