<table>
    <thead>
    <tr>
        <!-- Header cells -->
        <td *ngFor="let p of props">
            <ng-container [ngSwitch]="p.display">

                <!-- Plot box -->
                <div *ngSwitchCase="'plotBox'" class="axis">
                    <div class="label">{{p.rangeLower || '0'}}</div>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="label">{{p.rangeUpper || '0'}}</div>
                </div>

                <!-- Simple text -->
                <div *ngSwitchDefault [class.align-left]="p.display === 'label'">
                    {{p.label}}
                </div>
            </ng-container>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of rows; let ridx = index">
        <!--<td>{{ridx + 1}}</td>
        <td>{{r.caption}}</td>-->
        <td *ngFor="let p of props; let pidx = index"
            [style.width.%]="p.display === 'plotBox' ? 100 / props.length * 2 : null"
            [class.align-left]="p.display === 'label'"
            [class.align-center]="p.display === 'itemNo'"
        >
            <ng-container [ngSwitch]="p.display">
                <div *ngSwitchCase="'trendLine'">
                    <img [src]="data[ridx][pidx]">
                </div>

                <div *ngSwitchCase="'plotBox'" class="box" [style.background-color]="color"
                     [style.width.%]="data[ridx][pidx]">
                </div>

                <div *ngSwitchDefault>
                    {{data[ridx][pidx]}}
                </div>
            </ng-container>
        </td>
    </tr>
    <tr *ngIf="hasFooter" class="footer">
        <td *ngFor="let v of footerValues">
            {{v}}
        </td>
    </tr>
    </tbody>
</table>
