<table>
  <thead>
    <tr>
      <!-- Header cells -->
      @for (p of props; track p) {
        <td [class.plotbox-cell]="p.display === 'plotBox'">
          @switch (p.display) {
            <!-- Plot box -->
            @case ('plotBox') {
              <div class="axis">
                <div class="label">{{p.rangeLower || '0'}}</div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="label">{{p.rangeUpper || '0'}}</div>
              </div>
            }
            <!-- Simple text -->
            @default {
              <div [class.align-left]="p.display === 'label'">
                {{p.label}}
              </div>
            }
          }
        </td>
      }
    </tr>
  </thead>
  <tbody>
    @for (r of rows; track r; let ridx = $index) {
      <tr>
        <!--<td>{{ridx + 1}}</td>
        <td>{{r.caption}}</td>-->
        @for (p of props; track p; let pidx = $index) {
          <td
            [style.width.%]="p.display === 'plotBox' ? 100 / props.length * 2 : null"
            [class.align-left]="p.display === 'label'"
            [class.align-center]="p.display === 'itemNo'"
            >
            @switch (p.display) {
              @case ('trendLine') {
                <div>
                  <img [src]="data[ridx][pidx]">
                </div>
              }
              @case ('plotBox') {
                <div class="box" [style.background-color]="color"
                  [style.width.%]="data[ridx][pidx]">
                  @if (targets[ridx][pidx]) {
                    <span class="target" [style.left.%]="targets[ridx][pidx]"></span>
                  }
                </div>
              }
              @default {
                <div>
                  {{data[ridx]? data[ridx][pidx] : ''}}
                </div>
              }
            }
          </td>
        }
      </tr>
    }
    @if (hasFooter) {
      <tr class="footer">
        @for (v of footerValues; track v) {
          <td>
            {{v}}
          </td>
        }
      </tr>
    }
  </tbody>
</table>
