@import "src/scss/variables";

:host {
    // display: flex;
    display: grid;
    width: 100%;
    height: 100%;
    font-family: $font;
    -webkit-user-select: initial;
    user-select: initial;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.holder {
    width: 100%;
    height: 100%;
    flex: 1 1 100%;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    width: 100%;
    font-family: $font;
    color: gray;
    font-size: 14px;
    text-align: center;
    height: 24px;
    max-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bar {
    display: flex;
    width: 100%;
    height: 24px;
    // height: calc(100% - 24px);
    border: 1px solid var(--cl-accent);
    border-radius: 1000px;
    padding-left: 3px;
    padding-right: 3px;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
}

.dot {
    background: var(--cl-hover);
    border-radius: 1000px;
   /* flex: 1 1 100%;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1;*/
    width: 100%;
    height: 100%;

    max-width: 18px;
    max-height: 18px;

    &.filled {
        background: var(--cl-accent);
    }
}


.bar.high > .dot:last-child {
    background-color: rgba(224, 125, 134, 1);
}

.bar.low > .dot:first-child {
    background-color: #175ab8;
}
