@import "../base/variables";

// Override variables
$inverted: 1;
$themeColor: #262626;
$backColor: #161616;
$fontColor: #babfc2;
$iconColor: $fontColor;

$controlBorder: #555556;
$tileBorder: $controlBorder;
$labelColor: $fontColor;
$controlColor: #333333;

$widgetHeader: #1f1f1f;
$widgetBorder: #262626;
$widgetHeaderFont: $fontColor;

@import "../base/theme";

svg {
//    // Make grid lines different color
//    & .highcharts-grid-line, & .highcharts-axis-line, & .highcharts-tick {
//        stroke: #444;
//        color: #444;
//        fill: #444;
//    }
//
//    // Axis labels
//    //& .highcharts-axis-labels > text > .highcharts-axis-labels  {
//    //    fill: $fontColor !important;
//    //    color: $fontColor !important;
//    //}
//
    // Timechart buttons
    & .highcharts-button {
        & > rect {
            fill: $controlColor !important;
        }
        & > text {
            color: $fontColor !important;
            fill:  $fontColor !important;
        }
        //border: 1px solid #555556;
        //background-image: none;
    }

    // Highchart inputs
    & .highcharts-input-group {
        & .highcharts-range-input > rect {
            stroke: $controlBorder;
        }
        & text {
            color: $fontColor !important;
            fill:  $fontColor !important;
        }
    }
}

// Header band
.navbar {
    border: none;
}

// Widget title
.widget-title {
    height: 24px;
    border: none;
}

// Widget title area
.widget-title-drag {
    font-size: 14px;
}

// Widget title buttons
.widget-title-btn {
    border: none;
    width: 24px;
    height: 24px;
    padding-top: 4px;
    // Icons
    & > .fa {
        font-size: 14px;
    }
    // Hover style
    &:hover {
        background-color: rgba(255,255,255,0.1);
    }
}

// Back button hover
.widget-title-btn-left {
    border: none;
}
.widget-title-btn-left:hover {
    background-color: rgba(255,255,255,0.1);
}


// Widget panels
.panel {
    background-color: $widgetHeader;
}

// Widget filter toolbar
.widget-toolbar, .empty-widget {
    background-color: transparent;

    // Buttons
    & .btn {
        text-shadow: none;
        color: $fontColor;
        background-color: $controlColor;
        border: 1px solid $controlBorder;
        background-image: none;
    }
}

// Style inputs
.flt-holder .input-group input {
    background-color: $controlColor !important;
    border: 1px solid $controlBorder;
}

// Make preloader more transparent
.highcharts-loading {
    opacity: 0.1 !important;
}

.fc2 {
      color: $fontColor;
      fill: $fontColor;
    & * {
        fill: $fontColor;
    }
    }

.fc1 {
    color: $fontColor;
    fill: #fontColor;
    & * {
        fill: $fontColor;
    }
}

.cl1 {
    background-color: transparent;
}

.cl2 {
    background-color: rgba(255,0,0,0.05);
}
.cl3 {
    background-color: rgba(0,255,0,0.05);
}

.cl5 {
    background-color: rgba(255,255,0,0.05);
}

.cl6 {
    background-color: rgba(255,0,0,0.1);
}

.cl7 {
    background-color: rgba(0,0,255,0.05);
}

.cl8 {
    background-color: rgba(0,255,255,0.05);
}

.cl9 {
    background-color: rgba(0,255,0,0.1);
}



.lpt, .lpt-headerValue, .lpt th, .lpt .lpt-pageSwitcher {
    background: transparent !important;
    color: $fontColor;
}

.lpt {
    & .lpt-extraCell{
        border-right: none;
    }
    & th, & td, & .lpt-headerValue, & .lpt-header, & .lpt-pageSwitcher, & .lpt-topSection, & .lpt-bottomSection {
        border-color: $controlBorder;
    }
}

.lpt-active {
    background-color: $controlColor;
}

.lpt .lpt-pageSwitcher>div>span {
    border-right: $controlBorder;
}

.lpt-icon-rows {
    border-color: $fontColor;
}

.lpt {
    & .lpt-searchBlock {
        background: transparent;
        border: none;
    }

    & .lpt-searchSelect, & .lpt-searchInput, & input {
        background: $controlColor !important;
        border-color: $controlBorder !important;
    }

    & .lpt-searchSelectOuter {
        border: none;
        background: transparent;
    }

    & .lpt-hoverMessage {
        background: $themeColor;
        color: $fontColor;
    }
}
