@import "../base/variables";

$inverted: 1;
$backColor: #f7f7f7;
$fontColor: #FFF;
$themeColor: #2a3f54;
$labelColor: #73879c;
$iconColor: #FFF;

$widgetHeader: $themeColor;
$widgetBorder: $themeColor;
$widgetHeaderFont: white;
$tileBorder: #b1b1b1;

@import "../base/theme";

.cl1 {
  background-color: #b6e6ff;
}

.cl2 {
  background-color: #f7bfb7;
}
.cl3 {
  background-color: #bceca8;
}

.cl5 {
  background-color: #ffc593;
}

.cl6 {
  background-color: #f9b1ab;
}

.cl7 {
  background-color: #9de7fb;
}

.cl8 {
  background-color: #a8b8f9;
}

.cl9 {
  background-color: #9df1ae;
}


