<button
        class="btn btn-default btn-sm"
        ng-click="item.setFiltersToDefaults()"
        title="{{'setDefault'|lang}}" ><i class="fa fa-undo"></i>
</button>
<button
        class="btn btn-default btn-sm"
        ng-class="item.viewSize == 100 ? 'active' : ''"
        ng-click="item.setViewSize(100)"
        style="outline: none"
        title="{{'byRows'|lang}}"><i class="fa fa-bars"></i>
</button>
<button
        class="btn btn-default btn-sm"
        ng-class="item.viewSize == 50 ? 'active' : ''"
        ng-click="item.setViewSize(50)"
        style="outline: none"
        title="{{'by2columns'|lang}}"><i class="fa fa-th-large"></i>
</button>
<button
        class="btn btn-default btn-sm"
        ng-class="item.viewSize == 33.33333 ? 'active' : ''"
        ng-click="item.setViewSize(33.33333)"
        style="outline: none"
        title="{{'by3columns'|lang}}"><i class="fa fa-th"></i>
</button>
