<span ng-repeat="choser in item.dsItems" class="pull-left flt-holder">
    <label>{{choser.label}}</label>
    <select class="form-control input-sm" ng-model="item.dsSelected" ng-options="el for el in choser.labels" ng-change="onDataSourceChange(choser)"></select>
</span>
<span ng-repeat="action in item.acItems" class="pull-left flt-holder">
    <button class="form-control btn btn-default btn-sm btn-action" ng-click="performAction(action);">{{action.label || action.action}}</button>
</span>
<span ng-repeat="flt in model.filters" class="pull-left flt-holder">
    <label>{{flt.label}}</label>
    <div class="input-group">
        <input readonly type="text" class="form-control input-sm" value="{{flt.text}}" title="{{flt.text}}" style="cursor: pointer" ng-click="toggleFilter(flt.idx,$event)">
        <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button" ng-click="toggleFilter(flt.idx,$event)"><i class="fa fa-search"></i></button>
        </span>
    </div>
</span>