<div ng-controller="menu">
    <nav class="navbar navbar-default" ng-show="model.visible" ng-cloak>
        <div class="ver" mobile-hidden>{{model.ver}}</div>

        <div class="navbar-collapse">
            <span class="navbar-brand" mobile-hidden>
                {{model.title}}
            </span>
            <span class="mobile-navbar-brand" ng-show="!model.onDashboard" desktop-hidden>
                {{model.title}}
                <span style="position: absolute; right: 0; display: none">
                    <div><i class="fa fa-search"></i>
                        <input type="text" class="mobile-dashboard-search form-control" placeholder="{{model.lblSearch}}" ng-model="model.searchText" ng-change="search(model.searchText)">
                    </div>

                </span>
            </span>
            <form class="navbar-btn navbar-left">
                <div class="btn-group">
                    <div class="btn btn-default" ng-click="onHomeClick()"><i class="fa fa-home"></i><span desktop-hidden>{{model.lblHome}}</span></div>
                </div>

                <div class="btn-group" ng-show="model.favs.length != 0 || model.onDashboard">
                    <div type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa" ng-class="model.canAdd ? 'fa-star-o':'fa-star'"></i><span desktop-hidden>{{model.lblFav}}</span>
                    </div>
                    <ul class="dropdown-menu" role="menu" style="cursor: pointer">
                        <li ng-show="model.canAdd && model.onDashboard"><a hreaf="" ng-click="addToFavorites()"><span>{{'addToFavorites' | lang}}</span></a></li>
                        <li ng-show="!model.canAdd && model.onDashboard"><a hreaf="" ng-click="removeFromFav()"><span>{{'removeFromFav' | lang}}</span></a></li>
                        <li class="divider" ng-show="model.favs.length != 0 && model.onDashboard"></li>
                        <li ng-repeat="fav in model.favs"><a hreaf="" ng-click="navigateFav(fav)">{{fav.label}}</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <div type="button" class="btn btn-default" ng-click="showSettings()">
                        <i class="fa fa-gear"></i><span desktop-hidden>{{model.lblSettings}}</span>
                    </div>
                </div>
                <div class="btn-group" ng-show="!model.onDashboard" desktop-hidden>
                    <div type="button" title="{{'signout' | lang}}" class="btn btn-default" ng-click="onSingoutClick()"><span mobile-hidden>{{model.username}}&nbsp;</span><i class="fa fa-sign-out"></i><span>{{model.lblLogout}}</span></div>
                </div>

                <div class="btn-group" ng-show="model.onDashboard" mobile-hidden>
                    <div class="btn btn-default" ng-click="gotoDeepSee()" title="{{'gotoDeepSee'|lang}}"><i class="fa fa-mail-forward"></i><span desktop-hidden>{{'gotoDeepSee'|lang}}</span></div>
                </div>

                <div class="btn-group" ng-show="model.onDashboard" mobile-hidden>
                    <div class="btn btn-default" ng-click="shareDashboard()" title="{{'shareDashboard'|lang}}"><i class="fa fa-link"></i><span desktop-hidden>{{'shareDashboard'|lang}}</span></div>
                </div>

                <div class="btn-group" ng-show="model.onDashboard" desktop-hidden mobile-hidden>
                    <div type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-list"></i>
                    </div>
                    <ul class="dropdown-menu" role="menu" style="cursor: pointer">
                        <li><a hreaf="" >dfsfds</a></li>
                        <li><a hreaf="" >dfsfds</a></li>
                        <li><a hreaf="" >dfsfds</a></li>
                        <li><a hreaf="" >dfsfds</a></li>
                    </ul>
                </div>

                <div class="btn-group" ng-show="model.onDashboard && model.filterButton" desktop-hidden>
                    <div class="btn btn-default" ng-class="model.filtersVisible ? ' active': ''" ng-click="showGlobalFilter()"><i class="fa fa-filter"></i><span>{{model.lblFilter}}</span></div>
                </div>

                <div class="btn-group" mobile-hidden>
                    <div class="btn btn-default" ng-click="about()"><i class="fa fa-question"></i><span desktop-hidden>{{model.lblAbout}}</span></div>
                </div>
            </form>

            <form class="navbar-form navbar-left" role="search" ng-show="!model.onDashboard" mobile-hidden>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{model.lblSearch}}" ng-model="model.searchText" ng-change="search(model.searchText)">
                    <span class="input-group-btn">
                        <div class="btn btn-default" type="button" ng-click="model.searchText='';search('')" style="outline: none"><i class="fa fa-remove"></i></div>
                    </span>
                </div>
            </form>

            <form class="navbar-form navbar-right" mobile-hidden>
                <span class="info-dev" ng-show="model.devMode"><i class="fa fa-link"></i>&nbsp;Dev mode: {{model.devMode}}&nbsp;</span>
                <div class="btn-group" mobile-hidden>
                    <div type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="EN">
                        <i class="fa fa-comment"></i><span desktop-hidden>{{model.lblLang}}</span>
                    </div>
                    <ul class="dropdown-menu" role="menu" style="cursor: pointer">
                        <li><a hreaf="" ng-click="setLang(lang)" ng-repeat="lang in model.langs">{{lang}}</a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-database"></i> {{model.namespace}}<span class="caret"></span></a>
                        <ul class="spaces dropdown-menu">
                            <li ng-class="{active: ns.toLowerCase() === model.namespace.toLowerCase()}" ng-repeat="ns in model.namespaces track by $index"><a ng-click="changeNamespace(ns)">{{ns}}</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="btn-group">
                    <div style="flex-direction: row" title="{{model.lblLogout}}" class="btn-sign-out btn btn-default" ng-click="onSingoutClick()"><span>{{model.username}}</span><i class="fa fa-sign-out"></i></div>
                </div>
            </form>
        </div>
    </nav>
</div>