<div class="dialog-contents">
    <h3 class="settings-header">{{'server' | lang}}</h3>
    <div class="mob-header-btn-right" ng-click="toggleDeleteMode()"><i class="fa fa-trash-o"></i></div>
    <div class="container-fluid">

                <div role="tabpanel" class="tab-pane active settings-content" id="main">
                    <div class="mobile-header" desktop-hidden></div>
                    <div class="container-fluid">
                        <div class="mob-list-item" style="justify-content: space-between;white-space: nowrap;overflow: hidden;" ng-repeat="srv in model.servers track by $index" ng-click="selectServer(srv, $event)">
                            <span style="display: flex; align-items: center;">
                                <input type="checkbox" style="margin-right: 6px; margin-left: -6px" ng-show="model.isDeleteMode" ng-model="srv.doDelete">
                                <strong style="margin-right: 16px">{{srv.name}}</strong>
                            </span>
                            <span style="float: right">
                                <i class="w16 fa fa-cloud"></i>&nbsp;<span style="margin-right: 10px">{{srv.server}}</span>
                                <i class="w16 fa fa-user"></i>&nbsp;{{srv.login}}
                            </span>
                        </div>
                        <div class="mobile-header" ng-show="model.isDeleteMode"></div>
                    </div>
                </div>


        <div class="line-divider" mobile-hidden></div>

        <div class="row modal-mobile-footer" ng-show="model.isDeleteMode">
            <!--<div class="col-md-6" mobile-hidden>-->
                <!--<div class="input-group">-->
                    <!--<div class="float-left" ng-hide="model.addMode">-->
                        <!--{{'curSettings' | lang}}&nbsp;-->
                    <!--</div>-->
                    <!--<select class="float-left" ng-show="!model.addMode" ng-model="model.selectedSettings" ng-options="item for item in model.settingsNames" ></select>-->
                    <!--<input class="float-left input-xs" type="text" ng-show="model.addMode" ng-model="model.settingsName" focus-func="setFocusOnInput" ng-enter="onAddClick()">-->
                    <!--<span class="input-group-btn float-left">-->
                        <!--<button type="button" class="btn btn-default btn-xs" ng-click="onAddClick()" ng-hide="model.addMode">+</button>-->
                        <!--<button type="button" class="btn btn-default btn-xs" ng-click="onCancelClick()" ng-show="model.addMode"><i class="fa fa-close"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="pull-right">-->
                    <!--<button type="button" class="btn btn-default" ng-click="onLoadClick()">{{'load' | lang}}</button>-->
                    <!--<button type="button" class="btn btn-default" ng-click="applySettrings()">{{'save' | lang}}</button>-->
                    <!--<button type="button" class="btn btn-default" ng-click="closeThisDialog()" mobile-hidden>{{'close' | lang}}</button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-6">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="deleteServers()">{{'accept' | lang}}</button>
                    <button type="button" class="btn btn-default" ng-click="cancelDeleteMode()">{{'cancel' | lang}}</button>
                </div>
            </div>
        </div>
    <!--</div>-->
</div>