    <div class="dialog-contents" ng-init="onInit()">
    <h3 class="settings-header">{{'options' | lang}}</h3>
    <div class="container-fluid">
        <div class="row">
            <ul ng-hide="model.isWidgetSettings" class="nav nav-tabs settings-tabbar" role="tablist">
                <li role="presentation" class="active settings-tab"><a data-target="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a></li>
                <li role="presentation" class="settings-tab"><a data-target="#colors" aria-controls="colors" role="tab" data-toggle="tab">Colors</a></li>
                <!--<li role="presentation" class="settings-tab"><a data-target="#addons" aria-controls="addons" role="tab" data-toggle="tab">Addons</a></li>-->
            </ul>
            <div class="tab-content">
                <div ng-hide="model.isWidgetSettings" role="tabpanel" class="tab-pane active settings-content" id="main">
                    <div class="mobile-header" desktop-hidden></div>
                    <div class="container-fluid">
                        <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{'language' | lang}}
                                            <select ng-model="model.language">
                                                <option ng-repeat="l in ::model.langs" value="{{::l}}" ng-selected="{{::l==model.language}}">{{::l}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group" mobile-hidden>
                                            {{'theme' | lang}}
                                            <select ng-model="model.theme" ng-options="item.file as item.text for item in model.themes"></select>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="model.showFolders">
                                                <span>
                                                    {{'showFolders' | lang}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="model.showImages">
                                                <span>
                                                {{'showImages' | lang}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="model.isSaveFilters"><span>{{'saveFilters' | lang}}</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="model.isRelatedFilters"><span>{{'relatedFilters' | lang}}</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4" mobile-hidden>
                                        <div class="form-group">
                                            <span>{{'dashColumns' | lang}}</span>
                                            <input class="input-xs" type="text" ng-model="model.colCount">
                                            <span>{{'widgetHeight' | lang}}</span>
                                            <input class="input-xs" type="text" ng-model="model.widgetHeight">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mobile-action-buttons">
                                            <button type="button" class="btn btn-default btn-xs" ng-click="resetSettings()" mobile-hidden>{{'resetSettings' | lang}}</button>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="exportSettings()" mobile-hidden>{{'exportSettings' | lang}}</button>
                                            <button type="button" class="btn btn-default btn-xs" ng-click="showLog()" desktop-hidden="">{{'showLog' | lang}}</button>
                                        </div>
                                    </div>
                        </div>
                        <div class="row" mobile-hidden>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{'importSettings' | lang}}
                                    <div id="uploader-block"><input id="uploader" class="fm-uploader" type="file" enctype="multipart/form-data"/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-class="model.isWidgetSettings ? 'active': ''" role="tabpanel" class="tab-pane settings-content" id="colors">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            {{'seriesColor' | lang}}
                            <div class="row" ng-repeat="c in model.themeColors.hcColors track by $index" >
                                <color-picker ng-model="model.themeColors.hcColors[$index]" options="model.colorPickerOpt"></color-picker>
                            </div>
                        </div>
                        <div class="col-md-6">
                            Chart background
                            <color-picker ng-model="model.themeColors.hcBackground" options="model.colorPickerOpt"></color-picker>
                            Lines color
                            <color-picker ng-model="model.themeColors.hcLineColor" options="model.colorPickerOpt"></color-picker>
                            Text color
                            <color-picker ng-model="model.themeColors.hcTextColor" options="model.colorPickerOpt"></color-picker>
                            Series border color
                            <color-picker ng-model="model.themeColors.hcBorderColor" options="model.colorPickerOpt"></color-picker>
                            Fill opacity
                            <input class="input-xs" type="text" ng-model="model.themeColors.hcOpacity">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mobile-action-buttons">
                                <button type="button" class="btn btn-default btn-xs" ng-click="resetColors()" mobile-hidden>{{'resetColors' | lang}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane settings-content" id="addons">
                    <div style="width:100%; height: 100%" mobile-hidden></div>
                </div>
            </div>
        </div>


        <div class="line-divider" mobile-hidden></div>
        <div class="row modal-mobile-footer">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="applySettrings()">{{'save' | lang}}</button>
                    <button type="button" class="btn btn-default" ng-click="closeThisDialog()" mobile-hidden>{{'close' | lang}}</button>
                </div>
            </div>
        </div>
    </div>
</div>