    <div class="dialog-contents">
    <h3 class="settings-header">{{'options' | lang}}</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{'language' | lang}}
                    <select ng-model="model.language">
                        <option ng-repeat="l in ::model.langs" value="{{::l}}" ng-selected="{{::l==model.language}}">{{::l}}</option>
                    </select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.showFolders">{{'showFolders' | lang}}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.showImages">{{'showImages' | lang}}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.isMetro">{{'metroStyle' | lang}}
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-xs" ng-click="resetWidgets()">{{'resetWidgets' | lang}}</button>
                    <button type="button" class="btn btn-default btn-xs" ng-click="resetTiles()">{{'resetTiles' | lang}}</button>
                </div>
            </div>
        </div>

        <div class="line-divider"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="float-left" ng-hide="model.addMode">
                        {{'curSettings' | lang}}&nbsp;
                    </div>
                    <select class="float-left" ng-show="!model.addMode" ng-model="model.selectedSettings" ng-options="item for item in model.settingsNames" ></select>
                    <input class="float-left input-xs" type="text" ng-show="model.addMode" ng-model="model.settingsName" focus-func="setFocusOnInput" ng-enter="onAddClick()">
                    <span class="input-group-btn float-left">
                        <button type="button" class="btn btn-default btn-xs" ng-click="onAddClick()" ng-hide="model.addMode">+</button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="onCancelClick()" ng-show="model.addMode"><i class="fa fa-close"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="onLoadClick()">{{'load' | lang}}</button>
                <button type="button" class="btn btn-success" ng-click="applySettrings()">{{'save' | lang}}</button>
                <button type="button" class="btn btn-default" ng-click="closeThisDialog()">{{'close' | lang}}</button>
                </div>
            </div>
        </div>
    </div>
</div>