<div class="dialog-contents" ng-init="onInit()">
    <h3 class="settings-header">{{'shareDashboard' | lang}}</h3>
    <div class="container-fluid">
        <input id="shareText" class="input-sm" value="{{ngDialogData.url}}" style="width: 100%;">
        <div class="line-divider" mobile-hidden></div>
        <div class="row modal-mobile-footer">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="copyUrl()">{{'copy' | lang}}</button>
                    <button type="button" class="btn btn-default" ng-click="closeThisDialog()" mobile-hidden>{{'close' | lang}}</button>
                </div>
            </div>
        </div>
    </div>
</div>