@if (hs.visible$ | async) {
  <dsw-header></dsw-header>
}
<div class="content">
  @if (isSidebar) {
    <dsw-sidebar #sidebar (@toggle.done)="onAnimDone()" (@toggle.start)="onAnimStart()" [@toggle]></dsw-sidebar>
  }
  <router-outlet></router-outlet>
</div>

<!-- Modals -->
@for (modal of ms.modals | async; track modal) {
  <dsw-modal [data]="modal" [ngClass]="modal.class"></dsw-modal>
}

<!-- Error list -->
@for (err of es.errors$ | async; track trackError(idx, err); let idx = $index) {
  <dsw-error
    [@toggleError]="!err.isLeft"
    [@toggleErrorLeft]="err.isLeft"
    [error]="err">
  </dsw-error>
}
