<dsw-sidebar-actions (cancel)="onCancel()" (apply)="onApply()" >Chart colors</dsw-sidebar-actions>
<div class="container">
    <label>{{'seriesColor' | i18n}}</label>
    <span *ngFor="let c of model.themeColors.hcColors; let idx = index; trackBy: byIndex" [hidden]="appearance?.showSeries && appearance?.showSeries[idx] === false">
    <input
        class="color-rect"
        [(colorPicker)]="model.themeColors.hcColors[idx]" [style.background]="model.themeColors.hcColors[idx]"
        cpPosition="bottom"
        (colorPickerChange)="update()"
        readonly
    />
    </span>

    <label [hidden]="appearance?.showBackground === false">Chart background</label>
    <input
        [hidden]="appearance?.showBackground === false"
        class="color-rect"
        [(colorPicker)]="model.themeColors.hcBackground" [style.background]="model.themeColors.hcBackground"
        (colorPickerChange)="update()"
        readonly
    />

    <label [hidden]="appearance?.showLines === false">Lines color</label>
    <input
        [hidden]="appearance?.showLines === false"
        class="color-rect"
        [(colorPicker)]="model.themeColors.hcLineColor" [style.background]="model.themeColors.hcLineColor"
        (colorPickerChange)="update()"
        readonly
    />

    <label [hidden]="appearance?.showText === false">Text color</label>
    <input
        [hidden]="appearance?.showText === false"
        class="color-rect"
        [(colorPicker)]="model.themeColors.hcTextColor" [style.background]="model.themeColors.hcTextColor"
        (colorPickerChange)="update()"
        readonly
    />

    <label [hidden]="appearance?.showBorder === false">Series border color</label>
    <input
        [hidden]="appearance?.showBorder === false"
        class="color-rect"
        [(colorPicker)]="model.themeColors.hcBorderColor" [style.background]="model.themeColors.hcBorderColor"
        (colorPickerChange)="update()"
        readonly
    />
    <div class="divider"></div>

    <button class="btn btn-success" (click)="resetToDefault()">Reset to default</button>
</div>

