<dsw-sidebar-actions (apply)="onSaveTiles()" (cancel)="onCancelEditing()">Edit dashboard</dsw-sidebar-actions>

<div class="container">
  <!-- Title -->
  <label>{{ 'title' | i18n }}</label>
  <dsw-input [(ngModel)]="tile.customTitle"></dsw-input>

  <!-- Bg colors -->
  <label>{{ 'bgColor' | i18n }}</label>
  @for (col of model.colors; track col; let idx = $index) {
    <div (click)='setTileColor(idx)'
         [class.active]="tile.color == idx"
         [class]="'color-rect ' + col"
    >
    </div>
  }

  <!-- Font colors -->
  <label>{{ 'fntColor' | i18n }}</label>
  @for (col of model.fontColors; track col; let idx = $index) {
    <div (click)='setFontColor(idx)'
         [class.active]="tile.fontColor == idx"
         [class]="'color-rect ' + col + ' ' + model.colors[tile.color]"
    >
      <span [class]="col">A</span>
    </div>
  }

  <!-- Icons -->
  <label>{{ 'icon' | i18n }}</label>
  @for (ico of model.icons; track ico; let idx = $index) {
    <div [ngClass]="ico" class="color-rect" (click)='setIcon(idx)'
         [class]="'cl' + tile.color + ' ' +  (tile.icon == idx ? 'active' : '')">
      <!--@if (ico) {
        <img [src]="'assets/img/widget-icons/' + ico">
      }-->
      <!--<svg viewBox="-10 -16 20 20" [class]="model.fontColors[tile.fontColor]">
      <g>
        <text text-anchor="middle" font-size="16px">{{ico}}</text>
      </g>
    </svg>-->
    </div>
  }

  <!-- Widgets -->
  <label>{{ 'widget' | i18n }}</label>
  <ng-select
    [(ngModel)]="tile.widget"
    [clearable]="false"
    [items]="model.widgetList"
    bindLabel="name"
    bindValue="idx"
    class="dsw">
  </ng-select>

  <!-- Hide title -->
  <label>{{ 'hideTitle' | i18n }}
    <input [(ngModel)]="tile.hideTitle" type="checkbox">
  </label>

</div>
