@import "src/scss/variables";

// Upload control
input[type=file] {
    &::-webkit-file-upload-button {
        // color: red;
    }
}

// Checkbox, must be placed inside label
input[type=checkbox] {
    cursor: pointer;
    outline: none;
    display: inline;
    &:focus, &:active {
        outline: none;
    }
}

.divider {
    display: block;
    width: 100%;
    clear: both;
}
