@import "../variables";

// Background colors for tiles
:root {
    --cl1: #b6e6ff;
    --cl2: #f7bfb7;
    --cl3: #bceca8;
    --cl4: #fff9a8;
    --cl5: #ffc593;
    --cl6: #f9b1ab;
    --cl7: #9de7fb;
    --cl8: #a8b8f9;
    --cl9: #9df1ae;
}

//@import "../main";
