<!-- Title -->
<span class="title-text">
    {{widget.title}}
    <img
        *ngIf="hasFilters"
        class="btn-filters"
        src="assets/img/icons/icon-filter.svg"
        [tooltip]="filtersTooltip"
    >
</span>

<!--<span class="left-side">-->
<!-- Back button -->
<button class="btn-with-text" *ngIf="widget.backButton" (click)="onBackClick()">
    <img src="assets/img/icons/chevron_left-black-18dp.svg">
    <label>{{'back' | i18n}}</label>
</button>

<!-- Reset click filter -->
<button class="btn-with-text" *ngIf="widget.clickFilterActive" (click)="onResetClickFilterHandler()">
    <img src="assets/img/icons/close-black-18dp.svg">
    <label>{{'resetClickFilter' | i18n}}</label>
</button>
<!--</span>-->

<div class="divider"></div>

<div class="drag-handle" [class.no-drag]="noDrag" [class.expanded]="widget.isExpanded" (dblclick)="onHeaderDoubleClick()"></div>

<!--<span class="right-side">-->

<!-- Empty widget buttons -->
<ng-container *ngIf="isEmptyWidget()">
    <!-- Display 6 columns  button -->
    <button class="only-desktop" (click)="onClick('by6columns')" [title]="'by6columns' | i18n"
            [class.active]="widget.viewSize === 5">
        <img src="assets/img/icons/view-6columns.svg">
    </button>

    <!-- Display 5 columns  button -->
    <button class="only-desktop" (click)="onClick('by5columns')" [title]="'by5columns' | i18n"
            [class.active]="widget.viewSize === 4">
        <img src="assets/img/icons/view-5columns.svg">
    </button>

    <!-- Display 4 columns  button -->
    <button class="only-desktop" (click)="onClick('by4columns')" [title]="'by4columns' | i18n"
            [class.active]="widget.viewSize === 3">
        <img src="assets/img/icons/view-4columns.svg">
    </button>

    <!-- Display 3 columns  button -->
    <button class="only-desktop" (click)="onClick('by3columns')" [title]="'by3columns' | i18n"
            [class.active]="widget.viewSize === 2">
        <img src="assets/img/icons/view-3columns.svg">
    </button>

    <!-- Display 2 columns  button -->
    <button class="only-desktop" (click)="onClick('by2columns')" [title]="'by2columns' | i18n"
            [class.active]="widget.viewSize === 1">
        <img src="assets/img/icons/view-2columns.svg">
    </button>

    <!-- Display as rows button -->
    <button class="only-desktop" (click)="onClick('byRows')" [title]="'byRows' | i18n"
            [class.active]="widget.viewSize === 0">
        <img src="assets/img/icons/view-list.svg">
    </button>

    <!-- Refresh button -->
    <button (click)="onClick('setDefault')" [title]="'setDefault' | i18n">
        <img src="assets/img/icons/reset.svg">
        <label>{{'refresh' | i18n}}</label>
    </button>

    <!-- Refresh button -->
    <button class="only-sm" (click)="closeMobileFilter()">
        <img src="assets/img/icons/close-black-18dp.svg">
        <label>{{'close' | i18n}}</label>
    </button>
</ng-container>


<!-- Editor widget actions -->
<ng-container *ngIf="widget.edKey || widget.oldWidget">
    <!-- Delete widget -->
    <button
        title="Delete widget"
        (click)="deleteWidgetClick()"
    >
        <img src="assets/img/icons/icon-close.svg">
        <label>Delete widget</label>
    </button>
</ng-container>

<!-- Base widget actions -->
<ng-container *ngIf="!widget.edKey && !widget.oldWidget">
    <!-- Custom Buttons -->
    <button
        *ngFor="let btn of typeDesc?.headerButtons"
        (click)="onClick(btn.id)"
        [class.active]="widget[btn.id]"
        [title]="btn.tooltip"
    >
        <img [src]="btn.icon">
        <label>{{btn.text}}</label>
    </button>

    <!-- Toggle legend -->
    <button *ngIf="!typeDesc?.disableLegend && (widget.isChart && !widget.noToggleLegend)" (click)="onClick('isLegend')"
            [class.active]="widget.isLegend"
            title="{{'showLegend' | i18n}}">
        <!--        <i class="fa fa-info"></i>-->
        <img src="assets/img/icons/legend-toggle.svg">
        <label>Legend</label>
    </button>

    <!-- Show values -->
    <button *ngIf="widget.isBtnValues" (click)="onClick('showValues')"
            [class.active]="widget.showValues" title="{{'showValues' | i18n}}">
        <!--        <i>v</i>-->
        <img src="assets/img/icons/format-list-numbered.svg">
        <label>Values</label>
    </button>

    <!-- Top records -->
    <button *ngIf="widget.isChart" (click)="onClick('isTop')"
            [class.active]="widget.isTop" title="{{'showTop' | i18n}}">
        <!--        <i class="fa fa-star"></i>-->
        <img src="assets/img/icons/top-records.svg">
        <label>Top</label>
    </button>


    <!-- Show zero -->
    <button *ngIf="widget.isBtnZero" (click)="onClick('showZero')"
            [class.active]="widget.showZero" title="{{'showZero' | i18n}}">
        <!--        <i class="fa">0</i>-->
        <img src="assets/img/icons/exposure-zero.svg">
        <label>Zero</label>
    </button>

    <!-- Display as pivot -->
    <button *ngIf="widget.isChart || widget.isMap || widget.type === 'regular' || widget.oldType === 'regular'" (click)="onClick('displayAsPivot')"
            [class.active]="widget.type === 'pivot'" title="{{'showPivot' | i18n}}">
        <!--        <i class="fa fa-table"></i>-->
        <img src="assets/img/icons/table.svg">
        <label>Pivot</label>
    </button>

    <!-- Chart settings -->
    <button *ngIf="widget.isChart || widget.type === 'regular'" title="{{'changeColors' | i18n}}"
            (click)="onClick('chartConfig')">
        <img src="assets/img/icons/palette-icon.svg">
        <label>Colors</label>
    </button>


    <!-- Fullscreen button -->
    <button (click)="onClick('expand')" class="only-desktop" [class.active]="widget.isExpanded"
            [title]="'fullscreen' | i18n" [hidden]="isEmptyWidget() || !widget.isSupported" *ngIf="!widget.shared">
        <img src="assets/img/icons/full-screen.svg">
    </button>
</ng-container>

<!--</span>-->
