<!-- Title -->
<span class="title-text">{{widget?.title}}</span>

<!--<span class="left-side">-->
<!-- Back button -->
<button class="btn-with-text" *ngIf="widget?.backButton" (click)="onBackClick()">
    <img src="assets/img/icons/chevron_left-black-18dp.svg">
    <label>{{'back' | i18n}}</label>
</button>

<!-- Reset click filter -->
<button class="btn-with-text" *ngIf="widget?.clickFilterActive" (click)="onResetClickFilterHandler()">
    <img src="assets/img/icons/close-black-18dp.svg">
    <label>{{'resetClickFilter' | i18n}}</label>
</button>
<!--</span>-->

<div class="divider"></div>

<div class="drag-handle" [class.expanded]="widget?.isExpanded"></div>

<!--<span class="right-side">-->

<!-- Empty widget buttons -->
<ng-container *ngIf="isEmptyWidget()">
    <!-- Display 3 columns  button -->
    <button class="only-desktop" (click)="onClick('by3columns')" [title]="'by3columns' | i18n"
            [class.active]="widget?.viewSize === 33">
        <img src="assets/img/icons/view_module-black-18dp.svg">
    </button>

    <!-- Display 2 columns  button -->
    <button class="only-desktop" (click)="onClick('by2columns')" [title]="'by2columns' | i18n"
            [class.active]="widget?.viewSize === 50">
        <i class="fa fa-th-large"></i>
    </button>

    <!-- Display as rows button -->
    <button class="only-desktop" (click)="onClick('byRows')" [title]="'byRows' | i18n"
            [class.active]="widget?.viewSize === 100">
        <img src="assets/img/icons/view_headline-black-18dp.svg">
    </button>

    <!-- Refresh button -->
    <button (click)="onClick('setDefault')" [title]="'setDefault' | i18n">
        <img src="assets/img/icons/refresh-black-18dp.svg">
        <label>{{'refresh' | i18n}}</label>
    </button>

    <!-- Refresh button -->
    <button class="only-sm" (click)="closeMobileFilter()">
        <img src="assets/img/icons/close-black-18dp.svg">
        <label>{{'close' | i18n}}</label>
    </button>
</ng-container>


<!-- Custom Buttons -->
<button
    *ngFor="let btn of typeDesc?.headerButtons"
    (click)="onClick(btn.id)"
    [class.active]="widget[btn.id]"
    [title]="btn.tooltip"
>
    <img [src]="btn.icon">
    <label>{{btn.text}}</label>
</button>

<!-- Toggle legend -->
<button *ngIf="widget?.isChart && !widget.noToggleLegend" (click)="onClick('isLegend')"
        [class.active]="widget?.isLegend"
        title="{{'showLegend' | i18n}}">
    <!--        <i class="fa fa-info"></i>-->
    <img src="assets/img/icons/legend-toggle.svg">
    <label>Legend</label>
</button>

<!-- Show values -->
<button *ngIf="widget?.isBtnValues" (click)="onClick('showValues')"
        [class.active]="widget?.showValues" title="{{'showValues' | i18n}}">
    <!--        <i>v</i>-->
    <img src="assets/img/icons/format-list-numbered.svg">
    <label>Values</label>
</button>

<!-- Top records -->
<button *ngIf="widget?.isChart" (click)="onClick('isTop')"
        [class.active]="widget?.isTop" title="{{'showTop' | i18n}}">
    <!--        <i class="fa fa-star"></i>-->
    <img src="assets/img/icons/trending-up.svg">
    <label>Top</label>
</button>


<!-- Show zero -->
<button *ngIf="widget?.isBtnZero" (click)="onClick('showZero')"
        [class.active]="widget?.showZero" title="{{'showZero' | i18n}}">
    <!--        <i class="fa">0</i>-->
    <img src="assets/img/icons/exposure-zero.svg">
    <label>Zero</label>
</button>

<!-- Display as pivot -->
<button *ngIf="widget?.isChart || widget?.isMap || widget?.type === 'regular'" (click)="onClick('displayAsPivot')"
        [class.active]="widget?.type === 'pivot'" title="{{'showPivot' | i18n}}">
    <!--        <i class="fa fa-table"></i>-->
    <img src="assets/img/icons/view_list-black-18dp.svg">
    <label>Pivot</label>
</button>

<!-- Chart settings -->
<button *ngIf="widget?.isChart || widget?.type === 'regular'" title="{{'changeColors' | i18n}}"
        (click)="onClick('chartConfig')">
    <img src="assets/img/icons/color_lens-black-18dp.svg">
    <label>Colors</label>
</button>


<!-- Fullscreen button -->
<button (click)="onClick('expand')" class="only-desktop" [class.active]="widget?.isExpanded"
        [title]="'fullscreen' | i18n" [hidden]="isEmptyWidget() || !widget?.isSupported">
    <img src="assets/img/icons/fullscreen.svg">
</button>


<!--</span>-->
