@import "src/scss/variables";
@import "src/scss/breakpoints";


@mixin mobile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    // min-width: var(--header-height) !important;
    flex: 1 1 100%;
    & > label {
        display: inline-block;
        font-size: 13px;
        opacity: var(--widget-header-btn-opacity);
        filter: var(--widget-header-btn-filter);
    }
    & > img {
        height: calc(var(--header-height) * 0.5);
    }
}

:host {
    position: relative;
    display: flex;
    z-index: 1;
    flex: 0 0 auto;
    justify-content: space-between;
    font-family: $font;
    background: var(--cl-widget-header-bg);
    height: var(--tile-header-height);
    padding: 0;
    font-size: 8pt;
    text-align: center;
    color: var(--cl-widget-header-txt);
    // overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: var(--cl-widget-header-border);

    & > .drag-handle {
        position: absolute;
        position: absolute;
        left: -20px;
        right: -20px;
        bottom: 0;
        top: -20px;
    }
   /* & > span {
        display: inline-flex;
        align-items: center;
        // background: var(--cl-header-bg);
        z-index: 1;
        // flex-direction: row-reverse;
    }*/

    & button {
        z-index: 1;
        flex: 0 0 auto;
        // opacity: 0.7;
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding-left: 4px;
        padding-right: 4px;
        margin: 0;
        // min-width: var(--tile-header-height);
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -3px;
        // border-left: 1px solid var(--cl-header-border);
        transition: background-color $animSpeed line-height;
        outline: none;
        & > img {
            opacity: var(--widget-header-btn-opacity);
            filter: var(--widget-header-btn-filter);
        }
        & > i {
            opacity: var(--widget-header-btn-opacity);
            filter: var(--widget-header-btn-filter);
        }
        &:hover {
            background-color: var(--cl-header-btn-hover-darken);
        }
        &.active > img, &.active > i {
            opacity: 1;
            filter: var(--widget-header-btn-active-filter);
        }

        & > label {
            display: none;
        }

        @include sm {
            @include mobile-button;
        }
    }

    @include sm {
        order: 3;
        height: var(--header-height);
        border-bottom: none;
        border-top: 1px solid var(--cl-header-border);
    }
}

// Drag handle (actually title)
.drag-handle {
    cursor: move;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // Disable drag when widget is expanded to fullscreen
    &.expanded {
        pointer-events: none;
    }
}

button.btn-with-text {
    cursor: pointer;
    color: var(--cl-widget-header-txt);
    display: flex;
    align-items: center;
    & > img {
        height: 100%;
    }
    & > label {
        display: block;
        cursor: pointer;
    }

    @include sm {
        @include mobile-button;
    }

   /* @include sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        min-width: var(--header-height) !important;
        & > img {
            height: calc(var(--header-height) * 0.5);
        }
    }*/
}

.title-text {
    pointer-events: none;
    //margin-right: auto;
    margin-left: 0;
    margin-right: 4px;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;

    @include sm {
        display: none !important;
    }
}

.divider {
    margin-left: auto;
}

.btn-filters {
    pointer-events: auto;
    vertical-align: top;
}
