@import "src/scss/variables";

:host {
    position: relative;
    display: flex;
    flex-shrink: 0;
    // padding: 2px 4px;
    background: var(--cl-header-bg);
    height: auto;
    //border-bottom: 1px solid var(--cl-header-border);
    flex-wrap: wrap;
    &.wrap {
        flex-wrap: wrap;
    }
}

.flt-holder {
    display: flex;
    flex-direction: column;
    //margin-right: 4px;
    padding: 2px;

    & > label {
        font-size: 12px;
        color: var(--cl-sidebar-txt);
    }

    & > input, & > select {
        cursor: pointer;
        height: 20px;
        padding: 0 2px;
        border-radius: 0;

        &:focus {
            outline: none; // 1px solid var(--cl-accent);
            outline-offset: -1px;
        }
    }

    &.active {
        //background-color: #EFF1F2;
        //box-shadow: 0px 0px 4px 0 #00000036;
        //background-color: #d7edf8;
        //background-color: #E5F3F8;
        background-color: var(--cl-header-bg);;
        box-shadow: 0 0 4px 0 #00000070;
    }
}

.input-group {
    display: flex;
    flex-direction: row;
}

.btn {
    border: 1px solid #cccccc;
    box-shadow: none;
    background-color: transparent;
    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}
