@import "src/scss/variables";
@import "src/scss/breakpoints";

:host {
    position: relative;
    display: flex;
    flex-shrink: 0;
    // padding: 2px 4px;
    background: var(--cl-widget-filter-bg);
    height: auto;
    //border-bottom: 1px solid var(--cl-header-border);
    flex-wrap: wrap;
    margin-bottom: 5px;
    &.col-1, &.col-2, &.col-3, &.col-4, &.col-5, &.col-6 {
        display: grid;
        gap: 10px;
        & > span {
            width: 100%;
            padding: 0;
        }
    }
    &.col-1 {
        grid-template-columns: 1fr;
    }
    &.col-2 {
        grid-template-columns: 1fr 1fr;
    }
    &.col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &.col-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.col-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    &.col-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.flt-holder {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    //margin-right: 4px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;

    &:first-child {
        padding-left: 0;
    }

    & > label {
        font-size: 12px;
        color: var(--cl-widget-filter-txt);
        margin-bottom: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    & > input, & > select {
        cursor: pointer;
        height: 26px;
        padding: 0 10px;
        border: 1px solid #EBEBEA;
        border-radius: 13px;
        box-shadow: none;

        &:focus {
            outline: none; // 1px solid var(--cl-accent);
            outline-offset: -1px;
        }

        @include sm {
            height: 34px;
        }
    }

    &.active {
        //background-color: #EFF1F2;
        //box-shadow: 0px 0px 4px 0 #00000036;
        //background-color: #d7edf8;
        //background-color: #E5F3F8;
        // background-color: var(--cl-header-bg);
        background-color: var(--cl-widget-filter-bg);
       /* box-shadow: 0 0 4px 0 #00000070;
        padding-left: 4px;*/

        & > input, & > select {
            border-color: var(--cl-accent);
        }

        @include sm {
            /*box-shadow: 0 0 20px 2000px var(--cl-widget-filter-bg);
            z-index: 1;*/

           /* left: 0;
            position: absolute;
            right: 0;*/
        }
    }

    @include sm {
        width: auto !important;
        flex: 1 1 25% !important;
    }
}

.input-group {
    display: flex;
    flex-direction: row;
}

/*.btn {
    // border: 1px solid #cccccc;
    box-shadow: none;
    background-color: var(--cl-hover);
    color: var(--cl-accent);
    border-radius: 18px;
    transition: 0.2s linear filter;
    &:hover {
        filter: contrast(0.9);
    }
}*/
