<dsw-sidebar-actions
  [isWidgetEditorWarning]="true"
  [isBack]="true"
  (apply)="onSave()"
  >
  Type & Datasource
</dsw-sidebar-actions>

@if (model) {
  <div class="container">
    <label>Widget type</label>
    <ng-select
      class="dsw"
      [(ngModel)]="type"
      [items]="widgetTypes"
      bindLabel="label"
      [clearable]="false"
      [closeOnSelect]="true"
      (change)="onTypeChange()"
    ></ng-select>
    <!-- Data source -->
    <label>Data source</label>
    <dsw-input
      [required]="invalid.includes('datasource')"
      [(ngModel)]="model.dataSource"
      [chooseButton]="true"
      (keydown.enter)="onDatasourceChanged()"
      (choose)="onSelectDataSource()"
    ></dsw-input>
    <!-- Reference to -->
    <label>Reference to</label>
    <ng-select
      class="dsw"
      [items]="widgetList"
      [(ngModel)]="model.dataLink"
      bindLabel="label"
      bindValue="name"
      [clearable]="false"
      [closeOnSelect]="true"
      (change)="onLinkChange()"
      >
    </ng-select>
    <!-- Target details -->
    <!-- <label>Target details</label>
    <input class="select">-->
  </div>
}
