// Oxygen regular
@font-face {
  font-family: 'Oxygen';
  font-style: auto;
  font-weight: normal;
  src: local('Oxygen'), local('Oxygen-Regular'), url('./assets/fonts/Oxygen-Regular.ttf') format('truetype');
}

// Oxygen bold
@font-face {
  font-family: 'Oxygen';
  font-style: auto;
  font-weight: bold;
  src: local('Oxygen'), local('Oxygen-Bold'), url('./assets/fonts/Oxygen-Bold.ttf') format('truetype');
}

// Oxygen light
@font-face {
  font-family: 'Oxygen';
  font-style: auto;
  font-weight: 300;
  src: local('Oxygen'), local('Oxygen-Light'), url('./assets/fonts/Oxygen-Light.ttf') format('truetype');
}

/*
// Regular
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('RobotoCondensed-Regular'), local('RobotoCondensed'), url('assets/fonts/RobotoCondensed-Regular.woff2') format('woff2');
}

// Light
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('RobotoCondensed-Light'), local('RobotoCondensed'), url('assets/fonts/RobotoCondensed-Light.woff2') format('woff2');
}

// Bold
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('RobotoCondensed-Bold'), local('RobotoCondensed'), url('assets/fonts/RobotoCondensed-Bold.woff2') format('woff2');
}

// Italic
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('RobotoCondensed-Italic'), local('RobotoCondensed'), url('assets/fonts/RobotoCondensed-Italic.woff2') format('woff2');
}

// Italic Light
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('RobotoCondensed-LightItalic'), local('RobotoCondensed'), url('assets/fonts/RobotoCondensed-LightItalic.woff2') format('woff2');
}

// Italic Bold
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('RobotoCondensed-BoldItalic'), local('RobotoCondensed'), url('assets/fonts/RobotoCondensed-BoldItalic.woff2') format('woff2');
}
*/
