.no-anim {
    -webkit-transition: none !important;
    transition: none !important;
}

//// Gridster without animation
//gridster.no-anim .gridster-column,
//gridster.no-anim .gridster-row,
//gridster.no-anim gridster-item,
//gridster.no-anim gridster-item.gridster-item-resizing,
//gridster.no-anim gridster-item.gridster-item-moving {
//    transition: unset !important;
//}

// Gridster resize handler
gridster-item:hover .gridster-item-resizable-handler.handle-se {
    border-color: transparent transparent var(--cl-accent) !important;
    z-index: 10;
}

