@import "~ol/ol.css";
@import "variables";
@import "fonts";
@import "gridster";
@import "breakpoints";
@import 'air-datepicker/air-datepicker.css';
@import 'date-picker';
@import 'pivot-table';

.only-sm {
    @media (min-width: #{$screen-sm-min}) {
        display: none !important;
    }
}

.only-desktop {
    @include sm {
        display: none !important;
    }
}

@mixin icon {
    filter: var(--icon-filter);
    max-width: 100%;
    max-height: 100%;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font;
    background-color: var(--cl-bg);
    // overflow-x: hidden;
    overflow: hidden;
    & * {
        box-sizing: border-box;
        //font-family: $font;
    }

    @include sm {
        position: fixed;
    }
}

// Hidden style
[hidden] {
    display: none !important;
}

[desktop-hidden] {
    display: none !important;
}


input:not([type=file]), textarea, select {
    display: block;
    padding: 0 10px;
    height: 26px;
    border-radius: var(--input-border-radius);
    width: 100%;
    font-size: 14px;
    color: var(--cl-input-text);
    background-color: var(--cl-input-bg);
    background-image: none;
    border: 1px solid var(--cl-input-border);
   /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &:focus {
        outline: 1px solid var(--cl-accent);
        outline-offset: -1px;
    }
    &::placeholder {
        color: var(--cl-input-placeholder);
    }
}

textarea {
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=checkbox], input[type=radio] {
    margin: 0;
    width: 16px;
    height: 16px;
    position: relative;
    padding: 0;

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        transform-origin: center;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-image: url('^assets/img/icons/checkbox.svg');
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        left: 2px;
        top: 3px;
    }

    &:checked {
        border: 1.2px solid var(--cl-accent);
        &::before {
            transform: scale(1);
        }
    }
}

input[type=radio] {
    border: 1px solid var(--cl-check-border);
    &:checked {
        border: 4px solid var(--cl-accent);
    }
    &::before {
        background-image: none;
    }
}

input, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

input[type=checkbox] {
    border: 1px solid var(--cl-check-border);
    border-radius: 2px;
    width: 16px;
    height: 16px;
}

input[type=file] {
    background-color: transparent;
}

.btn, .btn-round {
    display: inline-block;
    padding: 6px 12px;
    font-family: $font;
    margin-bottom: 0;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    //border: 1px solid transparent;
    //box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
    transition: background-color $animSpeed linear;
    color: white;

    background: var(--cl-accent);
    border-radius: 4px;

    &:active {
        transform: translateY(1px);
    }
    &:focus {
        outline: 1px solid var(--cl-accent);
        outline-offset: -1px;
    }

    &:hover {
        background: var(--cl-btn-hover);
    }
}

.btn-round {
    background: var(--cl-hover);
    border-radius: 18px;
    color: var(--cl-accent);
    &:hover {
        background: #D8E6FF;
    }
}

.btn-success {
    color: var(--cl-btn-main-txt);
    background-color: var(--cl-btn-main);
    border-color: var(--cl-btn-main-border);

    &:hover {
        background-color: var(--cl-btn-main-hover);
    }
}

.btn-gray {
    color: var(--cl-btn-secondary-txt);
    background-color: var(--cl-btn-secondary);
    &:hover {
        background-color: var(--cl-btn-secondary-hover);
    }
}

.btn-link {
    background-color: transparent;
    border: none;
    color: #4a3aa8;
    box-shadow: none;
    font-weight: 500;
    &:hover {
        color: #5c49d1;
    }
}

.btn-icon {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
        filter: var(--icon-filter);
    }
}

.cl1 {
    background-color: var(--cl1) !important;
}

.cl2 {
    background-color: var(--cl2) !important;
}

.cl3 {
    background-color: var(--cl3) !important;
}

.cl4 {
    background-color: var(--cl4) !important;
}

.cl5 {
    background-color: var(--cl5) !important;
}

.cl6 {
    background-color: var(--cl6) !important;
}

.cl7 {
    background-color: var(--cl7) !important;
}

.cl8 {
    background-color: var(--cl8) !important;
}

.cl9 {
    background-color: var(--cl9) !important;
}

.cl10 {
    background-color: var(--cl10) !important;
}

.cl11 {
    background-color: var(--cl11) !important;
}

.cl12 {
    background-color: var(--cl12) !important;
}


.fc1 {
    color: var(--fc1);
    fill:  var(--fc1);
}
.fc2 {
    color: var(--fc2);
    fill:  var(--fc2);
}
.fc3 {
    color: var(--fc3);
    fill:  var(--fc3);
}
.fc4 {
    color: var(--fc4);
    fill:  var(--fc4);
}
.fc5 {
    color: var(--fc5);
    fill:  var(--fc5);
}

// Svg icon style
.ico {
    @include icon;
}

// Change font for lpt message
.lpt .lpt-hoverMessage {
    font-family: $font;
    font-size: 16px;
    color: var(--cl-txt);
}

// Set dynamic component to fit all free space
dsw-widget-filter ~ * {
    height: 100%;
    width: 100%;
    min-height: 0;
}


.highcharts-credits {
    display: none !important;
}

// For flipping icons
.flip {
    transform: scaleX(-1);
}

/*

// Pivot styles
.lpt-tableBlock {
    background-color: var(--cl-widget-bg);
    color: var(--cl-widget-filter-txt);
}

// Cells
.lpt-topHeader th,
.lpt-leftHeader th,
.lpt .lpt-headerValue,
.lpt-header {
    background: var(--cl-widget-filter-bg);
    color: var(--cl-widget-filter-txt);
    border-color: var(--cl-pivot-cell-border);
}

// Borders
.lpt .lpt-headerValue,
.lpt td,
.lpt th,
.lpt .lpt-header,
.lpt .lpt-bottomSection, .lpt .lpt-topSection
{
    border-color: var(--cl-pivot-cell-border);
}

// Cell hover
.lpt-clickable:hover,
.lpt .lpt-leftHeader th:last-child:hover
{
    background: var(--cl-pivot-cell-hover);
}

// Row hover glow
.lpt .lpt-tableBlock tr:hover td {
    box-shadow: var(--pivot-row-hover);
}

.lpt-tableBlock {
    &::-webkit-scrollbar {
        width: 17px;
    }
    &::-webkit-scrollbar-track {
        background: var(--cl-widget-filter-bg);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--cl-widget-filter-bg);
        opacity: 0.6;
    }
}
*/

.gridster-preview {
    background: var(--cl-hover);
}

.gridster-item-moving, .gridster-item-resizing {
    box-shadow: none !important;// 0 0 12px rgba(0, 0, 0, 0.25) !important;
    outline: 1px solid var(--cl-accent);
}

dsw-modal.modal-no-border {
    padding: 0;
    background: transparent;
    & > .modal {
        padding: 0;
        margin: 0;
        background-color: transparent;
        & > .content {
            overflow: visible;
        }
    }
}
