//$font: "IBM Plex Sans";
$font: "Oxygen";
$fontNum: Helvetica, Arial, sans-serif;
$animSpeed: 0.3s;


$fontColor: black;
$tileBorder: #e0e0e0;
$labelColor: $fontColor;

$mobile-folder-height: 80px;

$max-width: 1336px;
//:root {
//    --cl-bg: #ffffff;
//    --cl-accent: #ffffff;
//
//    // Background colors for tiles
//    --cl1: #b6e6ff;
//    --cl2: #f7bfb7;
//    --cl3: #bceca8;
//    --cl4: #fff9a8;
//    --cl5: #ffc593;
//    --cl6: #f9b1ab;
//    --cl7: #9de7fb;
//    --cl8: #a8b8f9;
//    --cl9: #9df1ae;
//
//    // Header
//    --cl-header-bg: #080d43;
//    --cl-header-txt: #ffffff;
//    --cl-header-ico: var(--cl-header-txt);
//    --cl-header-btn-active: #272c61;
//    --cl-header-btn-hover: #{lighten(#273449, 5%)};
//
//    --header-height: 60px;
//

//    --cl-sidebar-bg: var(--cl-header-btn-active);
//    //--sidebar-width: 300px;
//
//    // Tiles
//    --cl-tile-border: #afafaf;
//
//}

:root {
  --cl-bg: #F5F5F5;
  --cl-accent: #1A73E8;
  --cl-btn-hover: #76abf1;
  --cl-hover: #E8F0FE;
  --cl-txt: #555555;
  --input-border-radius: 13px;

  // Buttons
  --cl-btn-main: #5cb85c;
  --cl-btn-main-txt: #fff;
  --cl-btn-main-border: #4cae4c;
  --cl-btn-main-hover: #6eca6e;

  --cl-btn-secondary: #e6e6e6;
  --cl-btn-secondary-txt: #cccccc;
  --cl-btn-secondary-border: #b4b2b2;
  --cl-btn-secondary-hover: #dbdbdb;

  // Icon filter
  // --icon-filter: contrast(0.05);
  --icon-filter: none;

  // Background colors for tiles
  --cl1: #b6e6ff;
  --cl2: #f7bfb7;
  --cl3: #bceca8;
  --cl4: #fff9a8;
  --cl5: #ffc593;
  --cl6: #f9b1ab;
  --cl7: #9de7fb;
  --cl8: #a8b8f9;
  --cl9: #9df1ae;

  // Header
  --cl-header-bg: #FFFFFF;
  --cl-header-border: #F5F5F5;
  --cl-header-txt: #606367;
  --cl-header-ico: var(--cl-header-txt);
  --cl-header-btn-active: var(--cl-header-bg);
  --cl-header-btn-hover: var(--cl-bg);
  --cl-header-btn-hover-darken: var(--cl-hover);

  --header-height: 64px;

  // Menu
  --menu-item-icon-filter: none;

  // Sidebar
  --cl-sidebar-bg: #F5F5F5;
  --cl-sidebar-txt: #606367;
  //--sidebar-width: 300px;

  // Tiles
  --tile-border: none; // 1px solid #EBEBEA;
  --tile-border-radius: 10px;
  --tile-header-height: 28px;

  // Modal
  --cl-modal-bg: white;

  // Font colors
  --fc0: #606367;
  --fc1: black;
  --fc2: red;
  --fc3: white;
  --fc4: green;
  --fc5: blue;

  // Widgets
  --cl-widget-bg: white;
  --cl-widget-header-btn-active: #A9FFA1;
  --cl-widget-header-border: none;
  --cl-text-widget-font: #6b6464;
  --cl-widget-header-bg: var(--cl-header-bg);
  --cl-widget-header-txt: var(--cl-header-txt);
  --cl-widget-filter-txt: #606367;
  --cl-widget-filter-bg: var(--cl-header-bg);
  --widget-header-btn-opacity: 1;
  --widget-header-btn-filter: none;
  --widget-header-btn-active-filter: contrast(0.7) sepia(1) brightness(1) hue-rotate(-898deg) contrast(9);

  // Forms
  --cl-input-bg: white;
  --cl-input-border: #EBEBEA;
  --cl-check-border: #606367;
  --cl-input-placeholder: rgba(96, 99, 103, 0.6);
  --cl-input-text: #606367;
  --cl-input-height: 26px;

  // Pivot
  --cl-pivot-cell-border: rgb(208, 208, 208);
  --cl-pivot-cell-hover: #FFF7D7;
  --pivot-row-hover: inset 0 0 30px #fff5b9;

  // Sidebar
  --sidebar-width: 322px;

  --cl-scrollbar: #606367;


  /* --cl-bg: linear-gradient(to right, #009fff, #ec2f4b);
   --cl-widget-bg: rgba(255,255,255,0.3);*/
}

//:root {
//    --cl-bg: #fafafa;
//    --cl-accent: black;
//    --cl-txt: #555555;
//
//    // Background colors for tiles
//    --cl1: #ffffff;
//    --cl2: #ffffff;
//    --cl3: #ffffff;
//    --cl4: #ffffff;
//    --cl5: #ffc593;
//    --cl6: #f9b1ab;
//    --cl7: #9de7fb;
//    --cl8: #a8b8f9;
//    --cl9: #9df1ae;
//
//    // Font colors
//    --fc1: #939393;
//    --fc2: black;
//    --fc3: black;
//    --fc4: black;
//    --fc5: black;
//
//    // Header
//    --cl-header-bg: #f2f2f2;
//    --cl-header-border: #e7e7e7;
//    --cl-header-txt: black;
//    --cl-header-ico: var(--cl-header-txt);
//    --cl-header-btn-active: #eff1f1;
//    --cl-header-btn-hover: #fdfdfd;
//    --header-height: 58px;
//
//    // Sidebar
//    --cl-sidebar-bg: var(--cl-header-btn-active);
//    --cl-sidebar-txt: black;
//    --cl-sidebar-border: var(--cl-header-border);
//
//    // Tiles
//    --cl-tile-border: 2px solid #e6e6e6;
//    --tile-border-radius: 4px;
//}
//$cl-btn-hover: rgba(255,255,255,0.1);


@mixin editor-scrollbar {
  &::-webkit-scrollbar {
    width: 20px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-left: solid 16px var(--cl-bg);
    background: #EBEBEA;
  }

  &::-webkit-scrollbar-thumb {
    border-left: solid 16px var(--cl-bg);
    border-radius: 0;
    background: rgba(28, 29, 32, 0.4);
  }
}


@mixin dsw-scrollbar-v {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #EBEBEA;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(28, 29, 32, 0.4);
  }
}

@mixin reset-input-styles {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}


// Media query for tablet/mobile
@mixin breakpoint($screen) {
  @media (max-width: $screen) {
    @content;
  }
}

// Scrollbar style
@mixin scrollbar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 24px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--cl-scrollbar);
    border-left: 20px solid white;
  }
}

// Scrollbar shown only on hover
@mixin scrollbar-hover {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 24px;
    height: 32px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    border-radius: 0;
    background-color: white;
    border-left: 20px solid white;

  }

  &::-webkit-scrollbar-thumb:horizontal {
    border-radius: 0;
    background-color: white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--cl-scrollbar);
    }
  }

  &::-webkit-scrollbar-button {
    display: none;
    width: 1px;
    height: 1px;
  }
}
