<div class="modal" [class.no-padding]="data.noPadding" [class.min-height]="data.minHeight">
  <!-- Title -->
  @if (data.title) {
    <div class="title">
      {{ data.title }}
    </div>
  }

  <!-- Main content -->
  <div class="content">
    {{ data.message }}
    <!-- Dynamic component -->
    @if (isInitialized) {
      <ng-container *ngComponentOutlet="data?.component; inputs: data?.inputs"></ng-container>
    }
  </div>

  <!-- footer with buttons -->
  @if (data.buttons?.length) {
    <div class="footer">
      @if (data.search !== undefined) {
        <dsw-search-input [ngModel]="data.search" (search)="onSearch($event)"></dsw-search-input>
      }
      @for (btn of data.buttons; track btn) {
        <button
          class="btn"
          [class.btn-white]="!btn.default"
          (click)="onButtonClick(btn)"
        >
          {{ btn.label }}
        </button>
      }
    </div>
  }
</div>
