<!-- Widget header -->
<dsw-widget-header
  #header
  [typeDesc]="widgetType"
  [hidden]="widget.tile || !isHeader"
  (onButtonClick)="onHeaderButton($event)"
  (onBack)="onHeaderButtonBack()"
  (onResetClickFilter)="onResetClickFilter()"
></dsw-widget-header>

<!-- Filters -->
<dsw-widget-filter
  #filters
  [hidden]="widget.tile || !isHeader"
  [widget]="widget"
  [filters]="model.filters"
  (onVariable)="onFilterVariable($event)"
  (onDataSource)="onFilterDatasource($event)"
  (onAction)="onFilterAction($event)"
></dsw-widget-filter>

<!-- Dynamic widget component -->
@if (widgetType && widgetType.class) {
  <ng-container *ngComponentOutlet="widgetType.class; inputs: widgetInputs"></ng-container>
}

<!-- Error message -->
@if (model.error) {
  <div class="error">{{model.error}}</div>
}

<!-- Loading spinner -->
<div class="spinner" [hidden]="model.error || !component?.isSpinner">
  <img ngSrc="assets/img/spinner.svg" height="100" width="100">
</div>
