@import "../../../../../scss/variables";
:host {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    background-color: var(--cl-widget-bg);
    padding: 20px;
}

.error {
    font-family: $font;
    position: absolute;
    left: 0;
    right: 0;
    color: rgb(215 7 2 / 58%);
    background-color: transparent;
    top: 40%;
    padding: 6px;
    text-align: center;
    z-index: 10;
    background:  var(--cl-widget-bg);
}

.spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 44px;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: blur(2px);
    height: auto;
}

dsw-widget-filter {
    z-index: 4;
}
