<section class="header">
  <dsw-tabs
    [tabs]="tabs"
    [currentTab]="currentTab"
    [useQuery]="false"
    (currentTabChange)="requestData($event)"
    >
  </dsw-tabs>
</section>

<ng-template #items let-data="data" let-level="level">
  @for (d of data; track trackByIndex($index, d)) {
    <div class="row" [class.selected]="selected[level] === d" (click)="selectRow(d, level)">
      @if (d.children?.length) {
        <img src="assets/img/widget-icons/folder-1.svg">
      }
      {{d.name}}
    </div>
  }
</ng-template>

<section #table class="table">
  <!-- First column - fixed -->
  <div>
    <ng-container *ngTemplateOutlet="items; context:{data: filteredData, level: 0}"></ng-container>
  </div>

  <!-- Other columns -->
  @for (sel of selected; track trackByIndex(idx, sel); let idx = $index) {
    <div>
      <ng-container *ngTemplateOutlet="items; context:{data: sel.children, level: idx + 1}"></ng-container>
    </div>
  }

  <!-- Spinner -->
  @if (isLoading) {
    <div class="dsw-spinner">
      <img src="assets/img/spinner.svg">
    </div>
  }

  <!--<div class="no-data" *ngIf="!data?.length">No data</div>-->
</section>


